// UTILITY CLASSES

// TEXT

.u-text-mars {
    font-size: $mars;
    letter-spacing: $moon;
}

.u-text-mars-title {
    font-size: $mars;
    font-weight: 700;
    letter-spacing: $pluto;
    text-transform: uppercase;
}

.u-text-venus {
    font-size: $venus;
    font-weight: 300;
    letter-spacing: $pluto;
}

.u-text-venus-alt {
    font-size: $venus;
    letter-spacing: $pluto;
}

.u-text-venus-title {
    font-size: $venus;
    font-weight: 700;
    letter-spacing: $moon;
    text-transform: uppercase;
}

.u-text-earth-title {
    font-size: $earth;
    font-weight: 300;
    letter-spacing: $mercury;
    text-transform: uppercase;
}

.u-bold {
    font-weight: 700;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-decoration-none {
    text-decoration: none;
}

// MARGIN

.u-margin-bottom-mercury {
    margin-bottom: $mercury;
}

.u-margin-bottom-venus {
    margin-bottom: $mercury;
}

.u-margin-bottom-earth {
    margin-bottom: $earth;
}

.u-margin-bottom-saturn {
    margin-bottom: $saturn;
}

// FLEX

.u-flex {
    display: flex;
}

.u-flex-column {
    flex-direction: column;
}

.u-flex-align-items-center {
    align-items: center;
}

// BUTTONS

.u-button-primary {
    background-color: $gold;
    border: none;
    border-radius: $pluto;
    color: $white;
    height: $neptune;
    padding: $mars;
    transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
    
    &:hover {
        background-color: $gold-light;
        box-shadow: 0 $moon $pluto 0 rgba(0, 0, 0, 0.4);
    }
}
