// UTILITY CLASSES

// TEXT

.u-text-mars {
    font-size: $mars;
    letter-spacing: $moon;
}

.u-text-mars-alt {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: $moon;
}

.u-text-mars-title {
    font-size: $mars;
    font-weight: 700;
    letter-spacing: $pluto;
    text-transform: uppercase;
}

.u-text-mars-title-alt {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: $pluto;
    text-transform: uppercase;
}

.u-text-venus {
    font-size: $venus;
    font-weight: 300;
    letter-spacing: $pluto;
}

.u-text-venus-alt {
    font-size: $venus;
    letter-spacing: $pluto;
}

.u-text-venus-title {
    font-size: $venus;
    letter-spacing: $moon;
    text-transform: uppercase;
}

.u-text-earth-title {
    font-size: $earth;
    font-weight: 300;
    letter-spacing: $mercury;
    text-transform: uppercase;
}

.u-text-neptune-title {
    font-size: $neptune;
    font-weight: 300;
    letter-spacing: $mercury;
    text-transform: uppercase;
}

.u-bold {
    font-weight: 700;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-decoration-none {
    text-decoration: none;
}

// MARGIN

.u-margin-bottom-mercury {
    margin-bottom: $mercury;
}

.u-margin-bottom-venus {
    margin-bottom: $mercury;
}

.u-margin-bottom-earth {
    margin-bottom: $earth;
}

.u-margin-bottom-neptune {
    margin-bottom: $neptune;
}

.u-margin-bottom-uranus {
    margin-bottom: $uranus;
}

.u-margin-bottom-saturn {
    margin-bottom: $saturn;
}

.u-margin-left-venus {
    margin-left: $venus;
}

// FLEX

.u-flex {
    display: flex;
}

.u-flex-column {
    flex-direction: column;
}

.u-flex-align-items-center {
    align-items: center;
}

// BUTTONS

.u-button {
    border: none;
    border-radius: $mercury;
    box-shadow: 0 $moon $pluto 0 rgba(0, 0, 0, 0.4);
    color: $white;
    font-weight: 400;
    height: $neptune;
    padding: $mars $earth;
    transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;

    &-primary {
        background-color: $gold;

        &:hover {
            background-color: $gold-light;
            box-shadow: none;
        }
    }

    &-secondary {
        background-color: $black;
        
        &:hover {
            background-color: $charcoal;
            box-shadow: none;
        }
    }

}
