// UTILITY CLASSES

.u-mars-title {
    font-size: $mars;
    font-weight: 700;
    text-transform: uppercase;
}

.u-venus-alt {
    font-size: $venus;
    letter-spacing: $pluto;
}

.u-earth-title {
    font-size: $earth;
    letter-spacing: $pluto;
    text-transform: uppercase;
}

.u-bold {
    font-weight: 700;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-decoration-none {
    text-decoration: none;
}

.u-margin-bottom-mercury {
    margin-bottom: $mercury;
}

.u-margin-bottom-earth {
    margin-bottom: $earth;
}
