// SIZING UNITS

$moon: 1px;
$pluto: 2px;
$mercury: 4px;
$mars: 8px;
$venus: 16px;
$earth: 24px;
$neptune: 32px;
$uranus: 48px;
$saturn: 64px;
$jupiter: 80px;
$sun: 128px;

// COLORS
$black: #000000;
$charcoal: #322E2F;
$charcoal-light: rgba(50, 46, 47, 0.6);
$grey: #eeeeee;
$white: #ffffff;
$gold: #ab8f03;
$gold-light: #e2c326;

// BOX SHADOW
$box-shadow: 0 $moon $pluto 0 rgba(0, 0, 0, 0.4);

// BORDER
$border-gold: $pluto solid $gold;

// OPACITY
$opacity: 0.6;

// TRANSITIONS
$transition-opacity: opacity 0.2s ease-in;
$transition-color: color 0.2s ease-in;
$transition-background-color: background-color 0.2s ease-in;

// FOOTER HEIGHT
$footer-height: 61px;
