// SIZING UNITS

$moon: 1px;
$pluto: 2px;
$mercury: 4px;
$mars: 8px;
$venus: 16px;
$earth: 24px;
$neptune: 32px;
$uranus: 48px;
$saturn: 64px;
$jupiter: 80px;
$sun: 128px;

// COLORS
$black: #000000;
$charcoal: #322E2F;
$white: #ffffff;
$gold: #ab8f03;

// BOX SHADOW
$box-shadow: 0 $moon $mars 0 rgba(0, 0, 0, 0.4);

// BORDER
$border-gold: $moon solid $gold;

// OPACITY
$opacity: 0.6;

// TRANSITIONS
$transition-opacity: opacity 0.2s ease-in;
